KOTLIN_TOOLCHAIN_MAVEN_CENTRAL_USERNAME=    #The username part of your Central Portal user token.
KOTLIN_TOOLCHAIN_MAVEN_CENTRAL_PASSWORD= 	#The password part of your Central Portal user token.
KOTLIN_TOOLCHAIN_SIGNING_KEY= 	            #The ASCII-armored PGP signing key to use to sign artifacts. You can export a private key in this format using the gpg --export-secret-keys --armor <KEY_ID> command.
KOTLIN_TOOLCHAIN_SIGNING_KEY_PASSPHRASE= 	#(optional) The passphrase to unlock the PGP key, if there is one.